.fusion-button .fusion-button-text,
.fusion-button i {
    color: #000000;
}

.fusion-button {
    border-width: 0px;
    border-color: #000000;
}

.fusion-button
.fusion-button-icon-divider {
    border-color: #000000;
}

.fusion-button:hover .fusion-button-text,
.fusion-button:hover i,
.fusion-button:focus .fusion-button-text,
.fusion-button:focus i,
.fusion-button:active .fusion-button-text,
.fusion-button:active {
    color: #000000;
}

.fusion-button:hover,
.fusion-button:focus,
.fusion-button:active {
    border-width: 0px;
    border-color: #000000;
}

.fusion-button:hover
.fusion-button-icon-divider,
.fusion-button:hover
.fusion-button-icon-divider,
.fusion-button:active
.fusion-button-icon-divider {
    border-color: #000000;
}

.fusion-button {
    width: auto;
}

.fusion-button.active {
    background-color: #4d4d4d;
    color: #fff;
}

.fusion-button.active span {
    background-color: #4d4d4d;
    color: #fff;
}

.fusion-gallery-1 .fusion-gallery-image {
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}